@tailwind base;
@tailwind components;
@tailwind utilities;
.active_btn{
    background: #fff;
    border-radius: 50%;
    color: #36e178;
}

.active-search{
    display: block;
    visibility: visible;
    opacity: 1;
}
.content-wrapper{
    height: 100vh;
}
nav .active{
    color: #36e178;
}
.load-wrapp {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    text-align: center;
    display: table;
  }
  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }
  @keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }  
  .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
    margin: 5px ;
  }